Repository lavanet/ansible, pull requests merged in 2024-07, with the labels that each got.

#2 feat: Adding provider and supporting rolles
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  README.md
  inventory/hosts
  inventory/hosts.yml
  lava_bootstrap.yml
  provider.yml
  roles/cache/tasks/lavavisor.yml
  roles/cache/tasks/main.yml
  roles/cache/templates/cache.service.j2
  roles/cache/templates/lavavisor_config.yml.j2
  roles/go/tasks/main.yml
  roles/go/vars/main.yml
  roles/lavavisor/tasks/main.yml
  roles/lavavisor/templates/config.yml.j2
  roles/lavavisor/templates/lavavisor.service.j2
  roles/nginx/tasks/main.yml
  roles/provider/tasks/lavavisor.yml
  roles/provider/tasks/main.yml
  roles/provider/tasks/nginx.yml
  roles/provider/tasks/provider.yml
  roles/provider/templates/lavavisor_config.yml.j2
  roles/provider/templates/provider.service.j2
  roles/provider/templates/provider_configs.yml.j2
  roles/provider/templates/provider_nginx.conf.j2
  roles/provider/vars/lava.2.mycooldomain.com.yml
  roles/provider/vars/main.yml
  vars/main.yml
Labels: roles/provider, roles/wallet, roles/nginx, ci

#8 feat: update galaxy file
  galaxy.yml
Labels: size/XS

#7 feat: update config to fit conventions
  lava_bootstrap.yml
  provider.yml
  roles/go/tasks/main.yml
  roles/go/vars/main.yml
  roles/lavavisor/tasks/main.yml
Labels: size/M

#3 docs: adding readme instructions
  README.md
  docs/provider/README.md
Labels: roles/provider, size/M
